.article-featured {
    border: none;
}
.sidebar img{
    padding: 0 10px;
}
@media all and (min-width:675px) {
    .article-featured {
        display: flex;
    }

    .article-featured img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .article-recent-main-1{
        margin: 13px 0 0 20px;
    }
    main img,
    .article-recent-secondary-img{
        width: 200px;
        height: 350px;
        object-fit: cover;
    }
    .sidebar-widget img{
     height: 100px;
     width: 170px;
     object-fit: cover;
    }
}